In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
data_mark = pd.read_csv('C:\\Users\\HP\\Downloads\\mybooks\\project\\ecommerce-ad-project\\ad-returns-prediction\\data\\marketingreport.csv', sep = ';')

In [3]:
data_web = pd.read_csv('C:\\Users\\HP\\Downloads\\mybooks\\project\\ecommerce-ad-project\\ad-returns-prediction\\data\\webtrans.csv', sep = ';')

In [4]:
data_mark.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8835 entries, 0 to 8834
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   periodCode               8835 non-null   int64
 1   reportGranularity        8835 non-null   object
 2   salesChannel             8835 non-null   object
 3   platformCode             8835 non-null   object
 4   channelCode              8835 non-null   object
 5   tagCodes                 81 non-null     object
 6   marketingInvestment      8835 non-null   object
 7   impressions              8835 non-null   int64
 8   clicks                   8835 non-null   int64
 9   visits                   8835 non-null   int64
 10  conversions              8835 non-null   int64
 11  deliveries               8835 non-null   int64
 12  currencyCode             8835 non-null   object
 13  appliedAttributionModel  8835 non-null   object
 14  periodStartDate          8835 non-null   object
dtypes: int64(6), object(9)
memory usage: 1.0+ MB

In [5]:
data_mark.head(10)

,periodCode,reportGranularity,salesChannel,platformCode,channelCode,tagCodes,marketingInvestment,impressions,clicks,visits,conversions,deliveries,currencyCode,appliedAttributionModel,periodStartDate
0,20200102,Daily,online,Not tracked,notset,NaN,0,0,0,0,16,14,CZK,lastTouch,2020-01-02T00:00:00.0000000
1,20200103,Daily,online,Not tracked,notset,NaN,0,0,0,0,13,13,CZK,lastTouch,2020-01-03T00:00:00.0000000
2,20200104,Daily,online,Not tracked,notset,NaN,0,0,0,0,6,6,CZK,lastTouch,2020-01-04T00:00:00.0000000
3,20200105,Daily,online,Not tracked,notset,NaN,0,0,0,0,1,1,CZK,lastTouch,2020-01-05T00:00:00.0000000
4,20200105,Daily,online,Not tracked,notset,NaN,0,0,0,0,9,9,CZK,lastTouch,2020-01-05T00:00:00.0000000
5,20200106,Daily,online,Not tracked,notset,NaN,0,0,0,0,5,4,CZK,lastTouch,2020-01-06T00:00:00.0000000
6,20200106,Daily,online,Not tracked,notset,NaN,0,0,0,0,12,12,CZK,lastTouch,2020-01-06T00:00:00.0000000
7,20200107,Daily,online,Not tracked,notset,NaN,0,0,0,0,5,4,CZK,lastTouch,2020-01-07T00:00:00.0000000
8,20200107,Daily,online,Not tracked,notset,NaN,0,0,0,0,18,18,CZK,lastTouch,2020-01-07T00:00:00.0000000
9,20200108,Daily,online,Not tracked,notset,NaN,0,0,0,0,2,2,CZK,lastTouch,2020-01-08T00:00:00.0000000

In [6]:
data_web.head(10)

,orderId,createdAt,platformId,platformCode,channelId,channelCode,tagCodes,adCode,adGroup,adName,...,adSearchQuery,adProductCode,deviceCategory,total,tax,delivery,revenue,profit,quantity,currencyCode
0,194206,2020-01-02T00:00:00,308_notset,notset,308_direct,direct,NaN,NaN,NaN,NaN,...,NaN,NaN,mobile,1465,308,141,1335,NaN,4,CZK
1,194243,2020-01-02T00:00:00,308_notset,notset,308_direct,direct,NaN,NaN,NaN,NaN,...,NaN,NaN,desktop,1444,303,116,1338,NaN,5,CZK
2,194247,2020-01-02T00:00:00,308_notset,notset,308_direct,direct,NaN,NaN,NaN,NaN,...,NaN,NaN,desktop,3086,648,116,2934,NaN,2,CZK
3,194255,2020-01-02T00:00:00,308_notset,notset,308_direct,direct,NaN,NaN,NaN,NaN,...,NaN,NaN,mobile,408,86,116,256,NaN,2,CZK
4,194287,2020-01-02T00:00:00,308_notset,notset,308_direct,direct,NaN,NaN,NaN,NaN,...,NaN,NaN,desktop,13108,2753,116,14072,NaN,14,CZK
5,194310,2020-01-02T00:00:00,308_notset,notset,308_direct,direct,NaN,NaN,NaN,NaN,...,NaN,NaN,desktop,1176,247,141,1000,NaN,3,CZK
6,194329,2020-01-02T00:00:00,308_notset,notset,308_direct,direct,NaN,NaN,NaN,NaN,...,NaN,NaN,desktop,4505,946,116,4353,NaN,25,CZK
7,194369,2020-01-02T00:00:00,308_notset,notset,308_referral,referral,NaN,NaN,NaN,NaN,...,NaN,NaN,desktop,968,203,116,816,NaN,1,CZK
8,194280,2020-01-02T00:00:00,308_notset,notset,308_organic,organic,NaN,NaN,NaN,NaN,...,NaN,NaN,desktop,5002,1050,140,4873,NaN,3,CZK
9,194340,2020-01-02T00:00:00,308_notset,notset,308_organic,organic,NaN,NaN,NaN,NaN,...,NaN,NaN,desktop,2540,533,141,2399,NaN,1,CZK

In [7]:
data_web.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7918 entries, 0 to 7917
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   orderId         7918 non-null   int64
 1   createdAt       7918 non-null   object
 2   platformId      7918 non-null   object
 3   platformCode    7918 non-null   object
 4   channelId       7918 non-null   object
 5   channelCode     7918 non-null   object
 6   tagCodes        0 non-null      float64
 7   adCode          0 non-null      float64
 8   adGroup         0 non-null      float64
 9   adName          0 non-null      float64
 10  adContent       0 non-null      float64
 11  adSearchQuery   0 non-null      float64
 12  adProductCode   0 non-null      float64
 13  deviceCategory  7918 non-null   object
 14  total           7918 non-null   int64
 15  tax             7918 non-null   int64
 16  delivery        7918 non-null   int64
 17  revenue         7918 non-null   int64
 18  profit          0 non-null      float64
 19  quantity        7918 non-null   int64
 20  currencyCode    7918 non-null   object
dtypes: float64(8), int64(6), object(7)
memory usage: 1.3+ MB

In [8]:
#converting date column in marketing report to date time column
data_mark['periodStartDate'] = pd.to_datetime(data_mark['periodStartDate'])

In [9]:
data_mark.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8835 entries, 0 to 8834
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   periodCode               8835 non-null   int64
 1   reportGranularity        8835 non-null   object
 2   salesChannel             8835 non-null   object
 3   platformCode             8835 non-null   object
 4   channelCode              8835 non-null   object
 5   tagCodes                 81 non-null     object
 6   marketingInvestment      8835 non-null   object
 7   impressions              8835 non-null   int64
 8   clicks                   8835 non-null   int64
 9   visits                   8835 non-null   int64
 10  conversions              8835 non-null   int64
 11  deliveries               8835 non-null   int64
 12  currencyCode             8835 non-null   object
 13  appliedAttributionModel  8835 non-null   object
 14  periodStartDate          8835 non-null   datetime64[ns]
dtypes: datetime64[ns](1), int64(6), object(8)
memory usage: 1.0+ MB

In [10]:
data_mark['appliedAttributionModel'].nunique()

1

In [11]:
data_mark['tagCodes'].nunique()

1

In [12]:
data_mark = data_mark.drop(['appliedAttributionModel', 'periodCode', 'reportGranularity', 'tagCodes', 'currencyCode', 'salesChannel'], axis=1)

In [13]:
data_mark['platformCode'].value_counts()

Silverpop                     3556
HeurekaCz                     1642
AdWords                       1072
Sklik                         1027
unpaid                         824
FirmyCz                        183
RtbHouse                       168
ZboziCz                        164
Not tracked                    131
FacebookBusinessAdsManager      60
Adform                           5
Bing                             3
Name: platformCode, dtype: int64

In [14]:
data_mark['channelCode'].value_counts()

emailing              3556
heureka               1642
adwords_sea            694
sklik_sea              394
zbozi                  347
sklik_rem              304
notset                 259
sklik_bra              190
facebook               169
rtbhouse               168
direct                 165
organic                164
adwords_pla            151
referral               144
sklik_pla              133
adwords_bra            103
internal                96
adwords_rem             84
adwords_dsa             40
display                 14
push                     8
adform_prospecting       5
bing                     3
referralradiobeat        2
Name: channelCode, dtype: int64

In [15]:
data_mark['marketingInvestment'] = data_mark['marketingInvestment'].str.replace(',', '.')

In [16]:
data_mark['marketingInvestment'] = data_mark['marketingInvestment'].astype('float')

In [17]:
markdata = data_mark.copy()
markdata = markdata.groupby(['periodStartDate', 'platformCode', 'channelCode'])['marketingInvestment', 'impressions','clicks', 'visits', 'conversions','deliveries'].sum()

C:\Users\HP\AppData\Local\Temp\ipykernel_3948\1261267439.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  markdata = markdata.groupby(['periodStartDate', 'platformCode', 'channelCode'])['marketingInvestment', 'impressions','clicks', 'visits', 'conversions','deliveries'].sum()

In [18]:
markdata

                                          marketingInvestment  impressions  \
periodStartDate platformCode channelCode
2020-01-02      AdWords      adwords_bra               167.09          408
                             adwords_dsa                31.06          370
                             adwords_pla             10868.92       191564
                             adwords_rem               762.06        24668
                             adwords_sea                41.59          531
...                                                       ...          ...
2020-03-25      unpaid       facebook                    0.00            0
                             internal                    0.00            0
                             notset                      0.00            0
                             organic                     0.00            0
                             referral                    0.00            0

                                          clicks  visits  conversions  \
periodStartDate platformCode channelCode
2020-01-02      AdWords      adwords_bra     266     306            4
                             adwords_dsa      12      11            0
                             adwords_pla    2609    2667           27
                             adwords_rem     386     429            3
                             adwords_sea      26      36            0
...                                          ...     ...          ...
2020-03-25      unpaid       facebook          0      49            0
                             internal          0     463            0
                             notset            0      37            0
                             organic           0     604            0
                             referral          0      96            0

                                          deliveries
periodStartDate platformCode channelCode
2020-01-02      AdWords      adwords_bra           4
                             adwords_dsa           0
                             adwords_pla          27
                             adwords_rem           3
                             adwords_sea           0
...                                              ...
2020-03-25      unpaid       facebook              0
                             internal              0
                             notset                0
                             organic               0
                             referral              0

[1814 rows x 6 columns]

In [19]:
markdata = markdata.reset_index()
#from currency_converter import CurrencyConverter

In [20]:
markdata

,periodStartDate,platformCode,channelCode,marketingInvestment,impressions,clicks,visits,conversions,deliveries
0,2020-01-02,AdWords,adwords_bra,167.09,408,266,306,4,4
1,2020-01-02,AdWords,adwords_dsa,31.06,370,12,11,0,0
2,2020-01-02,AdWords,adwords_pla,10868.92,191564,2609,2667,27,27
3,2020-01-02,AdWords,adwords_rem,762.06,24668,386,429,3,3
4,2020-01-02,AdWords,adwords_sea,41.59,531,26,36,0,0
...,...,...,...,...,...,...,...,...,...
1809,2020-03-25,unpaid,facebook,0.00,0,0,49,0,0
1810,2020-03-25,unpaid,internal,0.00,0,0,463,0,0
1811,2020-03-25,unpaid,notset,0.00,0,0,37,0,0
1812,2020-03-25,unpaid,organic,0.00,0,0,604,0,0
1813,2020-03-25,unpaid,referral,0.00,0,0,96,0,0

In [21]:
data_web.head(5)

,orderId,createdAt,platformId,platformCode,channelId,channelCode,tagCodes,adCode,adGroup,adName,...,adSearchQuery,adProductCode,deviceCategory,total,tax,delivery,revenue,profit,quantity,currencyCode
0,194206,2020-01-02T00:00:00,308_notset,notset,308_direct,direct,NaN,NaN,NaN,NaN,...,NaN,NaN,mobile,1465,308,141,1335,NaN,4,CZK
1,194243,2020-01-02T00:00:00,308_notset,notset,308_direct,direct,NaN,NaN,NaN,NaN,...,NaN,NaN,desktop,1444,303,116,1338,NaN,5,CZK
2,194247,2020-01-02T00:00:00,308_notset,notset,308_direct,direct,NaN,NaN,NaN,NaN,...,NaN,NaN,desktop,3086,648,116,2934,NaN,2,CZK
3,194255,2020-01-02T00:00:00,308_notset,notset,308_direct,direct,NaN,NaN,NaN,NaN,...,NaN,NaN,mobile,408,86,116,256,NaN,2,CZK
4,194287,2020-01-02T00:00:00,308_notset,notset,308_direct,direct,NaN,NaN,NaN,NaN,...,NaN,NaN,desktop,13108,2753,116,14072,NaN,14,CZK

In [22]:
data_web['platformCode'].value_counts()

AdWords      3147
Silverpop    1817
notset       1704
Sklik         615
RtbHouse      400
ZboziCz       123
HeurekaCz     110
FirmyCz         2
Name: platformCode, dtype: int64

In [23]:
data_web.columns

Index(['orderId', 'createdAt', 'platformId', 'platformCode', 'channelId',
       'channelCode', 'tagCodes', 'adCode', 'adGroup', 'adName', 'adContent',
       'adSearchQuery', 'adProductCode', 'deviceCategory', 'total', 'tax',
       'delivery', 'revenue', 'profit', 'quantity', 'currencyCode'],
      dtype='object')

In [24]:
data_web = data_web.drop(['tagCodes', 'adCode', 'adGroup', 'adName', 'adSearchQuery', 'adContent', 'adProductCode'], axis=1)

In [25]:
data_web.head(5)

,orderId,createdAt,platformId,platformCode,channelId,channelCode,deviceCategory,total,tax,delivery,revenue,profit,quantity,currencyCode
0,194206,2020-01-02T00:00:00,308_notset,notset,308_direct,direct,mobile,1465,308,141,1335,NaN,4,CZK
1,194243,2020-01-02T00:00:00,308_notset,notset,308_direct,direct,desktop,1444,303,116,1338,NaN,5,CZK
2,194247,2020-01-02T00:00:00,308_notset,notset,308_direct,direct,desktop,3086,648,116,2934,NaN,2,CZK
3,194255,2020-01-02T00:00:00,308_notset,notset,308_direct,direct,mobile,408,86,116,256,NaN,2,CZK
4,194287,2020-01-02T00:00:00,308_notset,notset,308_direct,direct,desktop,13108,2753,116,14072,NaN,14,CZK

In [26]:
data_web.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7918 entries, 0 to 7917
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   orderId         7918 non-null   int64
 1   createdAt       7918 non-null   object
 2   platformId      7918 non-null   object
 3   platformCode    7918 non-null   object
 4   channelId       7918 non-null   object
 5   channelCode     7918 non-null   object
 6   deviceCategory  7918 non-null   object
 7   total           7918 non-null   int64
 8   tax             7918 non-null   int64
 9   delivery        7918 non-null   int64
 10  revenue         7918 non-null   int64
 11  profit          0 non-null      float64
 12  quantity        7918 non-null   int64
 13  currencyCode    7918 non-null   object
dtypes: float64(1), int64(6), object(7)
memory usage: 866.2+ KB

In [28]:
data_web['createdAt'] = pd.to_datetime(data_web['createdAt'])

In [29]:
data_web.head()

,orderId,createdAt,platformId,platformCode,channelId,channelCode,deviceCategory,total,tax,delivery,revenue,profit,quantity,currencyCode
0,194206,2020-01-02,308_notset,notset,308_direct,direct,mobile,1465,308,141,1335,NaN,4,CZK
1,194243,2020-01-02,308_notset,notset,308_direct,direct,desktop,1444,303,116,1338,NaN,5,CZK
2,194247,2020-01-02,308_notset,notset,308_direct,direct,desktop,3086,648,116,2934,NaN,2,CZK
3,194255,2020-01-02,308_notset,notset,308_direct,direct,mobile,408,86,116,256,NaN,2,CZK
4,194287,2020-01-02,308_notset,notset,308_direct,direct,desktop,13108,2753,116,14072,NaN,14,CZK

In [30]:
transdata = data_web.drop('orderId', axis=1)

In [32]:
transdata = transdata.groupby(['createdAt', 'platformId', 'platformCode', 'channelId', 'channelCode', 'deviceCategory'])['total','tax', 'delivery', 'revenue','profit', 'quantity'].sum()

C:\Users\HP\AppData\Local\Temp\ipykernel_3948\2110553082.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  transdata = transdata.groupby(['createdAt', 'platformId', 'platformCode', 'channelId', 'channelCode', 'deviceCategory'])['total','tax', 'delivery', 'revenue','profit', 'quantity'].sum()

In [34]:
transdata = transdata.reset_index()

In [37]:
transdata.head()

,createdAt,platformId,platformCode,channelId,channelCode,deviceCategory,total,tax,delivery,revenue,profit,quantity
0,2020-01-02,308_adwords,AdWords,308_adwords_bra,adwords_bra,desktop,1976,415,232,1686,0.0,4
1,2020-01-02,308_adwords,AdWords,308_adwords_bra,adwords_bra,mobile,4129,867,257,3895,0.0,7
2,2020-01-02,308_adwords,AdWords,308_adwords_pla,adwords_pla,desktop,50286,10560,2521,48269,0.0,119
3,2020-01-02,308_adwords,AdWords,308_adwords_pla,adwords_pla,mobile,13214,2776,953,12149,0.0,16
4,2020-01-02,308_adwords,AdWords,308_adwords_pla,adwords_pla,tablet,338,71,116,187,0.0,1

In [ ]:
transdata.to_csv('Transactions.csv')

In [40]:
markdata.to_csv('Marketing.csv')